<style>

  .chat{
    background-color: white;
    float: right;
    position: relative;
    padding: 5px 10px 0 10px;
    height: 400px;
    overflow-y: auto;
    border-radius: 4px;
  }

  .input-group-btn {
    float: right;
    padding-top: 14px;
  }

</style>

<div class="parent" style="position: fixed; z-index: 1; bottom: 0; right:0; width: 360px;">
    <div class="chat">
      <mat-card-content class="chat-card-content" [style.width.px]="'250'" [style.height]="'auto'">
        <app-chat-message *ngFor="let message of messages | async" [message]="message">
        </app-chat-message>
      </mat-card-content>
      <mat-card-actions>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Ask me everything</mat-label>
          <input type="text" matInput placeholder="Type here" (keydown.enter)="onEnter($event)" [(ngModel)]="draftMessage.text"/>
        </mat-form-field>
        <span class="input-group-btn">
            <button class="msg-send" mat-raised-button color="primary" (click)="onEnter($event)">Send</button>
        </span>
      </mat-card-actions>
    </div>
</div>
