<div class="whole-container">

  <div class="header">
    <div class="darken">
      <div class="container-fluid">
        <nav class="navbar">
          <div class="nav pull-left">
            <img src="../assets/images/logo.png" class="d-inline-block align-top appLogo">
          </div>
          <div class="nav navbar-text pull-right">
            <button type="button" class="btn btn-primary btn-login" routerLink="/login">Login</button>
          </div>
        </nav>
      </div>

      <header class="intro-header">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <div class="site-heading">
                <h1><strong>TIME MANAGEMENT</strong></h1>
                <p>TOOL FOR COMPANIES</p>
                <button type="button" class="btn btn-primary btn-getStarted" routerLink="/register">GET STARTED</button>
              </div>
            </div>
          </div>
          <div class="landing-hand">
            <img src="../assets/images/banner-landing-hand.png">
          </div>
        </div>
      </header>
    </div>
  </div>

  <div class="footer">
    <div class="row2">
      <div class="flexbox">
        <img src="../assets/images/smartphone.png" class="contentImage"><br>
        <span class="subtext"> On any device </span>
      </div>

      <div class="flexbox">
        <img src="../assets/images/pie-chart.png" class="contentImage"><br>
        <span class="subtext"> Detailed reports </span>
      </div>

      <div class="flexbox">
        <img src="../assets/images/turn-notifications-on-button.png" class="contentImage"><br>
        <span class="subtext"> Stay connected </span>
      </div>
    </div>
  </div>


</div>
