<div class="modal-content modal-lg"  id="loginModal"  style="background-color: #DEB887 !important;">
  <div class="modal-header" style="border: none !important; outline: none !important">
    <button type="button" (click)="close()"  style="outline: none!important;" class="close">
      <span aria-hidden="true">×</span></button>
  </div>
  <div class="modal-body sign-up" style="border: none !important; ">
    <div>
      <h2>Login</h2>
      <div class="modal-container">
        <ul class="sign-up-list ">
          <input [(ngModel)]="user.email" placeholder="Email" class="signup-input">
          <input [(ngModel)]="user.password" placeholder="Password" type="password" class="signup-input">
        </ul>
      </div>
      <!--<div style="margin-bottom: 10px">-->
        <!--<h4><a (click)="forgot()" style="color:white;text-decoration: underline;cursor: pointer">Forgot Password</a></h4>-->
      <!--</div>-->
      <!--<div style="margin-bottom: 10px" *ngIf="showResend">-->
        <!--<h4><a (click)="resendVerification()" style="color:white;text-decoration: underline;cursor: pointer">Resend verification email</a></h4>-->
      <!--</div>-->
      <button class="button" style="margin-left: auto; margin-right: auto; display: block" (click)="doLogin()">Login</button>
    </div>
    <div class="alert" style="color: white" (show)="showAlertMessage">{{messageAlert}}</div>
  </div>
  <!--<div class="modal-footer" style="border: none">-->
  <!--</div>-->
</div>
