
<div class="container-fluid bg-image">

  <div *ngIf="register">
    <div class="animated-show-error animated  bounce message-show">
      You have successfully registered

      <button type="submit" class="btn btn-default goToLogin-button pull-right" (click)="gotToLogin()">Go to Login</button>

    </div>
  </div>

  <div class="">
    <nav class="navbar pull-left">
      <div class="nav">
        <img src="../../assets/images/1341665009_00d83e48-24d9-4651-9441-778f0f8fe27c.png" class="d-inline-block align-top appLogo">
      </div>
    </nav>
  </div>

  <div class="col-xs-12 col-sm-5 pull-right register-container">

    <h2>Register</h2>

    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <input type="text" placeholder="* Company Name" class="form-control" formControlName="companyName">
        <div *ngIf="userForm.controls['companyName'].hasError('required') && ng-touched" class="alert-input">
          Please enter a name
        </div>
      </div>


      <div class="form-group">
        <input type="text" placeholder="* First Name" class="form-control" formControlName="firstName">
        <div *ngIf="userForm.controls['firstName'].hasError('required') && ng-touched" class="alert-input">
          Please enter a name
        </div>
      </div>


      <div class="form-group">
        <input type="text" placeholder="* Last Name" class="form-control" formControlName="lastName">
        <div *ngIf="userForm.controls['lastName'].hasError('required') && ng-touched" class="alert-input">
          Please enter a name
        </div>
      </div>


      <div class="form-group ">
        <input type="email" #refEmail placeholder="* johnsmith@ashburton.com" class="form-control" formControlName="email">
        <div *ngIf="userForm.controls['email'].hasError('required') && ng-touched" class="alert-input">
          Please enter an email
        </div>
        <div *ngIf="userForm.controls['email'].hasError('pattern') && ng-touched" class="alert-input">
        </div>
      </div>


      <div class="form-group ">
        <input type="password" placeholder="* Password" class="form-control" formControlName="password">
        <div *ngIf="userForm.controls['password'].hasError('required') && ng-touched" class="alert-input">
          Please enter a password
        </div>
        <div *ngIf="userForm.controls['password'].hasError('minlength')" class="alert-input">
          Please enter atleast 5 characters
        </div>
      </div>

      <br>

      <div>
        <button type="submit" [disabled]="!userForm.valid" class="btn btn-default register-button pull-right">Register</button>
      </div>
    </form>

  </div>
</div>
