html{
  min-height:100%;/* make sure it is at least as tall as the viewport */
  position:relative;
}
body{
  height:100%; /* force the BODY element to match the height of the HTML element */
}


.appLogo {
  height: 55px;
  width:245px;
  margin: 20px;
}

input.ng-invalid{
  border-left: 3px solid #ee5d2c;
}
input.ng-valid{
  border-left: 3px solid #00afef;
}


h2{
  color: white;
  margin-left: 25px;
  padding: 55px 20px 20px 20px;
  margin-bottom: 20px;
}

.register-button {
  background: white;
  color: #ef480c;
  font-size: 20px !important;
  font-weight: bold;
  padding: 10px 25px 10px 25px;
  border: none;
  margin-right: 6%;
  cursor: default;

}

.goToLogin-button{
  color: white;
  background: #ef480c;
  font-size: 18px !important;
  padding: 6px 20px 6px 20px;
  border: none;
  cursor: pointer;
  margin-right: 25px!important;
  margin: 0;
}

.form-group{
  width: 90%;
  position: relative;
  display: table;
  border-collapse: separate;
  margin-right: 20px;

}

.form-control{
  height: 46px;
  font-size: 18px;
  background: #f05a24;
  color: white;
  margin: 0 0 20px 25px;
  border: none;
  position: relative;
  float: left;
  display: block;

}

.alert-input{
  margin-left: 25px;
  font-size: 18px;
}

input::placeholder {
  color: white;
  opacity: 0.8;
}

.show-box{
  margin-left: 25px;
  font-size: 18px;
  color: white;
  background-color: #f05a24;
  width: auto;
  display: inline-block;
}

a{
  text-decoration: none;
  cursor: pointer;
}

a:hover{
  border-bottom: 1px solid #9A9A99;
}

.bg-image {
  background: url('../../assets/images/4702132_orig.jpg') no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: auto;
  padding: 0;
}
.register-container {
  right: 0;
  height: 100vh;
  background: #ef480c;
}

.animated-show-error{
  position: fixed;
  z-index:5;
  width:100%;


}

.message-show{
  position:absolute;

  font-size: 25px;
  padding: 10px;
  padding-left: 25px !important;
  position: fixed;
  z-index:5;
  width:100%;
  background-color: white;
  color: #ef480c;
}

button{
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

@media (max-width: 767px) {
  .bg-image {
    background-color: #C0D3E3;
    background-image: none;
  }


  nav.navbar {
    margin: 0 auto!important;
    display: flex;
    justify-content: center;
  }

  nav.pull-left {
    float: none!important;
  }

  .register-container {
    height: 100%;
    padding-bottom: 30px;
  }
}

@media (max-height: 600px) {

  .register-container {
    height: 100%;
    padding-bottom: 30px;
  }
}

@media (max-width: 400px) {
  .form-group {
    margin-left: -10px;
  }
}

*:focus,
*:active {
  outline: none;
}
